# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
env/
venv/
ENV/
.VENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Test coverage
.coverage
*.cover
.hypothesis/
.cache/

# MyPy type checker
.mypy_cache/
.dmypy.json
.dmypy/

# pytest
.pytest_cache/

# pipenv
Pipfile.lock

# pyright
pyrightconfig.json

# tox
.tox/
*.tox/

# Celery beat schedule files
celerybeat-schedule

# dotenv
.env

# data
data/*
